
.main-container{
    width: 315px;
    /*margin: 15px auto;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.sith_item{
    background-color: azure;
    border: none;
    color: black;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.sith_item:hover{
    color: white;
    background-color: blue;
}