{% extends "general/../general/base.html" %}
{% block title %} Первая страница {% endblock %}
{% load static %}
{% block content %}
    <h1>Тестирование</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="recruit_id" value="aI2bEJ94EX5ddPrdESwJQOitBq5cDliYNqJMavpKINdODnCtgVmj6842kIxuQic5">
        {% for item in list %}
            <p>
                <label for="{{ item.id }}">{{item.name}}</label>
                <input type="text" name="{{ item.id }}" required id="{{ item.id }}">
            </p>
        {% endfor %}
{##}
{#        {{ form.as_p }}#}
        <input type="submit" value="Submit" />
    </form>
{% endblock content %}>
